spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    password: "1234"
    url: "jdbc:mysql://${MYSQLHOST:localhost}:3306/softuni_fit_db?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true"
    username: root

  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 5MB
  mvc:
    hiddenmethod:
      filter:
        enabled: true


  jpa:
    #    For MySQL 8
    #database-platform: org.hibernate.dialect.MySQL8Dialect
    #For MySQL 5
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
carousel:
  images: foodCar.jpg, girlCar.jpg, yogaCar.jpg
  refresh-cron: "0 */10 * * * *"
server:
  port: 8090

