<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Oh on!</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link th:href="@{/css/user-404.css}" type="text/css" rel="stylesheet">
    <th:block th:include="fragments/commons::head"/>
</head>
<body>
<th:block th:include="fragments/commons::nav"/>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2>Oh no! Something really bad happened!</h2>
        </div>
        <a th:href="@{/home}">Go home!</a>
    </div>
</div>
<th:block th:include="fragments/commons::footer"/>
</body>
</html>