<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head"></head>

<header  th:replace="fragments/commons::nav"></header>

<body style=" color: #1b1e21">

    <div class="p-5 align-content-center bg-blur">

     <h1 >Welcome to FitTracker.v2</h1>
        <div class="text-center py-5 bg-image-full">
            <img class="image center" src="/images/index-banner.jpg" width="1250" height="600"  alt="Motivational fitness picture">
        </div>
        <h1 class="text-right">Stronger together</h1>

    </div>

</body>

<footer th:replace="fragments/commons::footer"></footer>
</html>